.ContainerSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


.SliderTxt {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-inline: 10px;

    & p {
        max-width: 400px;
        font-family: Karla;
        font-size: 19px;
        line-height: 30px;

    }

    & h3 {
        font-size: 20px;
        color: #bebebe;
    }

    & h2 {
        font-size: 2rem;
        color:#f4784f;
    }
}

.opentimep {
    color: #F49C6C;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;

}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.linkContainer a {
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 15px;
}

.transparentBackground {
    margin-left: 10px;
    background-color: #f4784f;
}

.transparentBackground:hover {
    background-color: #ff906a;
}

.linkfull {
    border: 1px solid #F49C6C;
}

.linkfull:hover {
    background-color:#dd733a;
}

@media(max-width:750px) {
    .SliderTxt {
        width: auto;
        font-size: 16px;
        padding-inline: 8px;
    }

    .ContainerSlider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}