.ContainerRigth{

    & h2 {
        color: #f1f1f1;
        font-family: Karla;
        font-size: 2rem;
        text-transform: capitalize;
        padding-inline: 20px;
        padding-block: 20px;
    }
}