:root {
    --ligth-white: #f1f1f1;
    --ff-karla: Karla
}


.Container {
    width: 100%;
   
}

header {
    background-image: url('../../../public/berlin.jpg');
    height: 80vh;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 5rem;
    color: var(--ligth-white);
    font-family: Karla;
}

.under-heading {
    font-size: 2rem;
}


@media (max-width:500px) {
    h1 {
        font-size: 2.5rem;
    }

    header {
        height: 50vh;
    }

    .heading2 {
        padding-block: 10px;
        font-size: rem;
        padding-inline: 10px;
        width: 100%;
    }


}

/* Container behind the header */
.centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}

.section1 {
    border-radius: 35px;
    transform: translateY(-80px);
    background-color: #f4784fbe;
    padding-bottom: 50px;
    height: auto;
    width: 85%;


}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.heading2 {
    padding-block: 40px;
    font-size: 4rem;
    padding-inline: 80px;
    width: 100%;
}

.secondBox {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

@media(max-width:958px) {

    .secondBox {
        display: none;
    }

    .heading2 {
        text-align: center;
        padding-block: 20px;
        font-size: 2.8rem;
        padding-inline: 20px;
    }

    .firstBox {
        width: 100%;
        overflow: hidden;
    }
}

/*Section deux*/
.section2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 30px;
    background-image: linear-gradient(118deg, rgb(28, 28, 28) 0%, transparent 73%), repeating-linear-gradient(163deg, rgba(129, 129, 129, 0.1) 0px, rgba(129, 129, 129, 0.1) 1px, transparent 1px, transparent 17px), repeating-linear-gradient(73deg, rgba(129, 129, 129, 0.1) 0px, rgba(129, 129, 129, 0.1) 1px, transparent 1px, transparent 17px), linear-gradient(73deg, rgb(28, 28, 28), rgb(28, 28, 28));

}

/*section parallax under presentation musée*/
.BoxParallax {
    background-color: #e9e7e7;
 
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5git0px;
}

.Paralax {
    
    width: 80%;
    height: 30vh;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url('../../../public/Kawsart.jpg');
    background-attachment: fixed;
}
.AboutSection {
    width: 100%;
    height: auto;
    background-image: repeating-linear-gradient(135deg, rgb(28,28,28) 0px,rgb(28,28,28) 12px,transparent 13px),repeating-linear-gradient(217deg, rgb(28,28,28) 0px,rgb(28,28,28) 12px,transparent 13px),linear-gradient(90deg, rgb(174,90,50),hsla(190,0%,61%,1));
}