.ContainerFooter{
    height: 30vh;
    padding-block: 30px;
    display: flex;
    flex-direction: column;

    background-color: red;
    align-items: center;
 
}

.ContainerLink {
    display: flex;
    height: 30vh;
}

.listFooter {
    padding-inline: 25px;
    & li {
        list-style: none;
        line-height: 40px;
        text-transform: capitalize;
    }
    & h3 {
        padding-block: 10px;
    }
}
.listFooter li:hover {
    cursor:pointer;
    color: indianred;
}