.ContainerFooter{
    height: auto;
    padding-block: 30px;
}

.ContainerLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30vh;
}

.listFooter {
    padding-inline: 25px;
    & li {
        list-style: none;
        line-height: 40px;
        text-transform: capitalize;
    }
    & h3 {
        padding-block: 10px;
    }
}
.listFooter li:hover {
    cursor:pointer;
    color: indianred;
}
.copyLettre {
    padding-block:10px;
    padding-inline: 10px;
}

/*Média queries*/


@media (max-width:500px){
   .ContainerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
    
}