.Homecontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
 
}


.TophomeContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.boxtxt {
    h2 {
        font-size: 2.5em;
       font-weight: bold;
       color: #f1f1f1;
       font-family: Karla;
       padding-block: 10px;
    }
    p {
        max-width: 500px;
        color: #f1f1f1;
        font-family: 'Courier New', Courier, monospace;
        font-size: 22px;
        

    }
}
.boxContainer {
    width: auto;
    overflow: hidden;
    & img{
        width: auto;
        max-width:500px;
        border-radius: 35px;
     &:hover {
        transform: scale(1.2);
     }
    }
}


/*Media Queries*/
@media (max-width:1080px){
    .TophomeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        flex-wrap: wrap;
       
    }
    .boxtxt {
        h2 {
            font-size: 1.5rem;
           font-weight: bold;
           color: #f1f1f1;
           font-family: Karla;
           padding-bottom: 10px;
        }
        p {
            max-width: 500px;
            color: #f1f1f1;
            font-family: 'Courier New', Courier, monospace;
            line-height: 20px;
            font-size: 18px;
            
            
    
        }
    }
    .boxContainer {
        width: auto;
        overflow: hidden;
        & img{
            width: auto;
            max-width:500px;
            border-radius: 35px;
         &:hover {
            transform: scale(1.2);
         }
        }
    }
}


@media (min-width:420px) and  (max-width:930px){
    .TophomeContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .boxtxt {
        h2 {
            font-size: 1.5rem;
           font-weight: bold;
           color: #f1f1f1;
           font-family: Karla;
           padding-bottom: 10px;
        }
        p {
            max-width: 500px;
            color: #f1f1f1;
            font-family: 'Courier New', Courier, monospace;
            line-height: 20px;
            font-size: 18px;
            padding-inline: 20px;
            
    
        }
    }
    .boxContainer {
        width: auto;
        overflow: hidden;
        & img{
            width: auto;
            max-width:300px;
            border-radius: 35px;
            margin-right: 15px;
         &:hover {
            transform: scale(1.2);
         }
        }
    }
   
    
}

@media (max-width:400px){
    .TophomeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .boxtxt {
        h2 {
            font-size: 1rem;
           font-weight: bold;
           color: #f1f1f1;
           font-family: Karla;
           padding-bottom: 10px;
        }
        p {
            max-width: 200px;
            color: #f1f1f1;
            font-family: 'Courier New', Courier, monospace;
            line-height: 20px;
            font-size: 16px;
            
    
        }
    }
    .boxContainer {
        width: auto;
        overflow: hidden;
        & img{
          margin-right: 15px;
           width:200px;
        }
    }
    

}


