.slide {
    width: 100%;
    height: 100vh;
   
    background-color:#1c1c1c;
}

.blocHori {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 300vw;

}

.boxHori {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

::-webkit-scrollbar {
    display: none;
}

/* .one  {
    background-color: red;
} */

.oneBox1{

    width: 50%;
    overflow: hidden;
    margin-block: 20px;
   & img {
    border-radius: 35px;
    width: 100%;
    padding: 20px;
    
   }
}

.oneBox1 img:hover {
    filter: invert(100%);
}

