.slide {
    width: 100%;
    height: 100vh;
   
    background-color:#1b1b1b;
}

.blocHori {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 300vw;

}

.boxHori {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

::-webkit-scrollbar {
    display: none;
}

 .one  {
    display: flex;
    flex-direction: row;
} 

.oneBox1{

    width: 50%;
    overflow: hidden;
    margin-block: 20px;
   & img {

    width: 100%;
    padding: 20px;
    
   }
   & h1{
    font-family: Jaro;
    font-weight: 200;
   }
}

.oneBox1 img:hover {
    filter: invert(100%);
}

.oneBox2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
     & p {
        width: 200px;
        font-size: 25x;
        font-family: Jaro;
        padding-block: 50px;
     }
    & img {
         height: 400px;
    }

}

.oneBox2 img:hover {
    filter: invert(100%);
}



/*slide2*/

.two {
    display: flex;
    flex-direction: row;
    background-color: red;

}

.twoBox1 {
    width: 50%;
    background-color: orange;
}