.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color:#1c1c1c;
}

.blocHori {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 300vw;

}

.boxHori {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;


}

::-webkit-scrollbar {
    display: none;
}

.one img {
    width: 800px;
}

.one {
    background-color: red;
}







